.container {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 100px;
}
.button1 {
    display: inline-block;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    border: 2px solid #32de84;
    background-color: #228B22;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.button2 {
    display: inline-block;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    border: 2px solid #ffa500;
    background-color: #c76e00;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.logo {
    text-align: center;
    margin: 10px 0;
    font-size: 50px;
    font-family: Pixelify Sans;
}